.header {
    display: flex;
    background-color: purple;
    color: white;
    font-size: 24px;
    padding-left: 24px;
}

.right-links {
    display: flex;
    gap: 24px;
    font-size: 20px;
    margin-left: auto;
    padding-top: 26px;
    padding-right: 24px;
}

.upper-content {
    background-color: #d094df;
    margin-top: -20px;
    color: white;
    padding-left: 36px;
    padding-right: 24px;
    margin-top: 50px;
    display: flex;
}

.hero-text {
    font-size: 48px;
    font-weight: bold;
    flex-wrap: wrap;
    margin-bottom: -20px;
}

.learn-blurb {
    font-size: 18px;
}

.group-photo {
    width: 400px;
    height: auto;
    padding-left: 150px;
}

.top-section {
    border: solid black 6px;
    height: 450px;
    background-color: #d094df;

}

.upper-left {
    width: 50%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

h2 {
    display: flex;
}

button {
    padding: 12px 16px;
    border-radius: 18px;
}

.footer {
    background-color: purple;
    color: white;
    font-size: 24px;
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: center;
}